
/* HEADER LAYOUT */
header {
    background-color:rgb(69, 84, 90);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 45%;
    grid-template-rows: auto;
    margin-bottom: 0px;
}
.header-title {
    padding: 10px;
    display: flex;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin: 0px;
}
nav {
    align-items: center;
    grid-column-start: 3;
    padding-bottom: 1px;
}
/* END HEADER LAYOUT */

/* HERO LAYOUT */
.hero{
   margin-top: 0px;
   background-image: linear-gradient(to right, lightblue, white, lightblue);
   height: 200px;
   display: flex;
   justify-content: flex-end;
    align-items: flex-end;
}
.hero-text {
    padding: 10px 20px;
}
.hero img {
    margin: 1px auto;
    border-radius: 25px;
    border: 3px solid rgb(69, 84, 90);
    box-shadow: 1px 1px 10px;
}
/* END HERO LAYOUT */

/*CONTENT LAYOUT*/
.content {
    background-color:rgb(69, 84, 90);
    background: cover;
    padding-bottom: 50px;
}
section {
    display: grid;
    grid-template-columns: 20% 78%;
    margin: 0px auto 30px auto;
}
#about-me{
    padding-top: 20px;
}

.section-p{
    grid-column-start: 2;
    padding: 5px 5px;
}
#about-me .section-title {
    grid-row: 1/3;
}
.section-title {
    padding: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.section-text {
    padding-left: 10px;
    border-left: 2px solid lightblue;
}
/* WORK SECTION */
.work-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;

}
.work-card {
    border: 2px solid lightblue;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: flex-end;
    opacity: 0.75;
    transition: 1s;
}

/* CONTACT SECTION */
.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media only screen and (max-width: 1024px) {
    /*HEADER SECTION*/
    header {
        grid-template-columns: 1fr 1fr;
        font-size: .85em;
    }

    nav{
        grid-column-start: 2;
    }
    nav ul li a.header-links{
        font-size: 20px;
    }
    .contact-container {
        flex-direction: column;
    }
    #work-section img {
        width: 100%;
        box-shadow: 1px 1px 10px black;
    }
}
@media only screen and (max-width: 768px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    nav{
        grid-column-start: 1;
    }
    .header-title{
        justify-content: center;
    }
    nav ul {
        padding-bottom: 5px;
    }
    section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .section-text{
        border-top: 2px solid lightblue;
        border-left: none;
    }
    .section-title{
        justify-content: center;
        align-items: flex-end;
    }
    .contact-container {
        flex-direction: column;
    }
    #work-section img {
        width: 100%;
        margin-top: 10px;
        box-shadow: 1px 1px 10px black; 
    }
    .card-body, .card-title {
        padding: 0 5px;
    }
    .section-text {
        padding: 0;
    }
    #about-me p {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 425px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    nav ul li {
        padding: 5px;
    }
    #contact-me .contact-info {
        font-size: smaller;
    }
    #work-section img {
        width: 100%;
        text-align: center;
        box-shadow: 1px 1px 10px black;
    }
    .card-body, .card-title {
        padding: 0 5px;
    }
    .section-text {
        padding: 0;
    }
    #about-me p {
        padding: 0 10px;
    }
}