
/* HEADER LAYOUT */
header {
    background-color:rgb(69, 84, 90);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 45%;
    grid-template-rows: auto;
    margin-bottom: 0px;
}
.header-title {
    padding: 10px;
    display: flex;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin: 0px;
}
nav {
    align-items: center;
    grid-column-start: 3;
}
/* END HEADER LAYOUT */

/* HERO LAYOUT */
.hero{
   margin-top: 0px;
   background-color: lightblue;
   height: 200px;
   display: flex;
   justify-content: flex-end;
    align-items: flex-end;
}
.hero-text {
    padding: 10px 20px;
}
/* END HERO LAYOUT */

/*CONTENT LAYOUT*/
.content {
    background-color:rgb(69, 84, 90);
    background: cover;
    padding-bottom: 50px;
}
section {
    display: grid;
    grid-template-columns: 20% 78%;
    margin: 0px auto 30px auto;
}
#about-me{
    padding-top: 20px;
}

.section-p{
    grid-column-start: 2;
}
#about-me .section-title {
    grid-row: 1/3;
}
.section-title {
    padding: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.section-text {
    padding-left: 10px;
    border-left: 2px solid lightblue;
}
/* WORK SECTION */
.work-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;

}
.run-buddy {
    background: url(../images/run-buddy.png);
    grid-area: 1/1/3/3;
    border: 2px solid lightblue;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: flex-end;
    opacity: 0.75;
    transition: 1s;
}
.cinequiz {
    background: url(../images/Cinequiz.png);
    border: 2px solid lightblue;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: flex-end;
    opacity: 0.75;
    transition: 1s;
}
.now-playing {
    background: url(../images/Now-playing.png);
    border: 2px solid lightblue;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: flex-end;
    opacity: 0.75;
    transition: 1s;
}
.card {
    background-color: rgba(69, 84, 90, 0.85);
    border: 1px solid lightblue;
    margin-left: 0px;
    padding: 0px 10px;
    z-index: 2;
}
.run-buddy:hover {
    opacity: 1;
}
/* CONTACT SECTION */
.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media only screen and (max-width: 1024px) {
    /*HEADER SECTION*/
    header {
        grid-template-columns: 1fr 1fr;
        font-size: .85em;
    }

    nav{
        grid-column-start: 2;
    }
    nav ul li a.header-links{
        font-size: 20px;
    }
    .contact-container {
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    nav{
        grid-column-start: 1;
    }
    .header-title{
        justify-content: center;
    }


    section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .section-text{
        border-top: 2px solid lightblue;
        border-left: none;
    }
    .section-title{
        justify-content: center;
        align-items: flex-end;
    }
    .work-links {
        padding-right: 10px;
        grid-template-columns: 1fr;
    }
    .run-buddy{
        grid-area: 1/1/2/2;
        opacity: 1;
    }
    section#work .section-title {
        padding-top: 0px;
        margin-top: 0px;
        height: auto;
    }
    .contact-container {
        flex-direction: column;
    }
}
@media only screen and (max-width: 425px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    nav ul li {
        padding-top: 20px;
    }
    #contact-me .contact-info {
        font-size: smaller;
    }
}