:root {
    --bg: rgb(69, 84, 90);
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HEADER STYLES */
.header-links {
    text-decoration: none;
    color: lightblue;
    font-size: 26px;
}
nav ul li {
    list-style-type: none;
}
.header-title {
    color: var(--bg);
    background-color: lightblue;
    box-shadow: 2px 2px 5px black;
}
/* END HEADER STYLES */

/* HERO STYLES */
.hero-text{
    background-color: var(--bg);
    color:lightblue;
    box-shadow: 2px 2px 5px black;
}
/* END HERO STYLES */

/* CONTENT STYLES */
.section-title {
    color: lightblue;
}
.section-text {
    color: lightblue;
}
.contact-links {
    color: lightblue;
    text-decoration: none;
}
.run-buddy a {
    color:lightblue;
    text-decoration: none;
}
.cinequiz a {
    color: lightblue;
    text-decoration: none;
}
.now-playing a {
    color: lightblue;
    text-decoration: none;
}