#about, #about-featured-project {
    padding: 10px 20px;
    font-size: larger;
    border-bottom: 1px solid black;
}
.headshot {
    margin: auto;
}
.interests {
    text-align: center;
}
#resume {
    text-align: center;
}
.about-resume-header {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.about-resume-topic {
    text-align: center;
    border-right: 1px solid black;
}
.about-resume-abilities {
    text-align: center;
}
.about-resume-row {
    border-top: 1px solid black;
}
#about-sidebar {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    overflow-y: scroll;
    padding: 0px 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.about-project-image {
    width: 100%;
    box-shadow: 1px 1px 2px black;
}
.about-project {
    padding-top: 40px;
}
.about-project:first-child {
    padding-top: 0px;
}
.about-sidebar-header {
    text-align: center;
}
#about-featured-project {
    justify-content: center;
    margin-top: 20px;
}
#about-featured-project p {
    margin: 10px;
}

@media only screen and (max-width: 900px) {
    #about {
        font-size: large;
    }
    .paragraph {
        text-align: center;
    }
    #about-resume, #about-featured-project, #about-sidebar {
        display: none;
    }
}