:root {
  --maroon: #264932;
  --pink: #552f23;
  --green: #DFE2CF;
}
html {
  background-color: aquamarine;
}
body {
  background-color: white;
  margin: 0px auto;
  line-height: 2;
  font-family: Roboto, 'serif';
  letter-spacing: 1px;
  max-width: 1400px;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}
