html {
  width: 100vw;
  height: 100vh;  
}
body {
  background-color: white;
  margin: 0px auto;
  line-height: 2;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
