:root {
  --maroon: #764248;
  --pink: #E3C5BB;
  --green: #DFE2CF;
}
body {
  background-color: var(--maroon);
  margin: 0;
}
/* NAV STYLES */
nav {
  display: grid;
  background-color: var(--green);
  padding: 20px 0 0 0;
  margin: 0;
  align-items: center;
  grid-template-rows: 33% 1fr;
  border-bottom: 4px solid whitesmoke;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  
}
.navLink {
  text-decoration: none;
  color: var(--maroon);
  font-size: 20px;
  font-weight: bolder;
}
.h1-nav {
  text-align: center;
  margin: 0;
  color: var(--maroon);
  font-size: 30px;
  
}
/* FOOTER STYLES */
.footer {
  display: flex;
  text-align: center;
  margin-top: 50px;
  justify-content: center;
}
.footer a {
  font-size: 30px;
  padding: 20px;
  color:whitesmoke;
}
/*ABOUT ME STYLES*/
.about {
  text-align: center;
}
.about img{
  margin: 10px auto;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
  border: 4px solid white;
  width: 40%;
  max-width: 500px;
}
.about-text {
  background-color: var(--pink);
  width: 75%;
  margin: 0 auto;
  padding: 10px 20px;
  border: 4px solid white;
  border-radius: 30px 0 30px 0;
  max-width: 1024px;
}
.aboutP {
  font-size: 20px;
  color: var(--maroon);
  font-weight: bolder;
}

/* PORTFOLIO STYLES */
#projects {
  text-align: center;
  margin: 20px auto 0;
  width: 90%;
  
}
.Project {
  background-color: var(--pink);
  padding: 10px;
  margin: 10px auto;
  border: 4px solid whitesmoke;
  border-radius: 20px 0 20px 0;
  color: var(--maroon);
}
.Project img {
  background-color: white;
  width: 90%;
  border: 2px solid whitesmoke;
  box-shadow: 1px 1px 5px black;
  max-width: 1024px;
}
.Project a {
  font-size: 30px;
  padding: 5px;
  margin: 10px 0;
  color: black;
}
.Project h3 {
  font-size: 40px;
  margin: 0;
}
.Project p {
  width: fit-content;
  font-size: 19px;
  border-left: 3px solid whitesmoke;
  border-bottom: 3px solid whitesmoke;
  text-align: left;
  padding: 20px 10px;
}
.Project div {
  border-left: 3px solid whitesmoke;
  border-right: 3px solid whitesmoke;
  width:fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
/* CONTACT STYLES */
.contact {
  background-color: var(--pink);
  border: 3px solid whitesmoke;
  width: 40%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 318px;
  border-radius: 20px 0 20px 0;
  color: var(--maroon);
}
.contact form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.contact input {
  width: 50%;
  margin: 2px auto;
}
.contact button {
  width: fit-content;
  margin: 2px auto;
  font-size: 20px;
}
.contact textarea {
  margin: 2px 10px;
}
/* RESUME STYLES */
.resume{
  background-color: var(--pink);
  border: 3px solid whitesmoke;
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 318px;
  border-radius: 20px 0 20px 0;
  color: var(--maroon);
}
.resume a{
  font-size: 20px;
  color: var(--maroon);
}
.resume h2 {
  font-size: 40px;
}
.resume h3 {
  font-size: 30px;
}
.resume p {
  font-size: 20px;
}
.experience {
  border-top: 3px solid whitesmoke;
  width: 80%;
  margin: 0 auto;
}
.job {
  border-left: 3px solid whitesmoke;
  border-bottom: 3px solid whitesmoke;
}